<div>
  <div class="column col-md-8">
    <div class = "page-header">
      <h2>Your Posts Feed</h2>
    </div>

    <div ng-repeat='post in allPosts.posts.data'>
      <a href='{{post.image}}'>
        <img src='{{post.image}}' height='50' width='50'>
      </a>
      <span style="font-size:20px; margin-left:10px;">
      <a href='{{post.link}}' ng-show='post.link'>{{post.title}}</a>
      </span>

      <span style="border-width: 10px;">
      <p ng-show='post.description'>{{post.description}}</p>
      </span>

     <!--  <p>{{post.comments}}</p>

      <form>
        <div class ="form-group" ng-submit="addComment(post._id)">
          <input type='text' ng-model='comment' ng-change="shout(this)" placeholder="New Comment">
          <button type='submit' ng-click="addComment(post._id)">Add Comment</button>
        </div>
      </form> -->
    </div>

  </div>

  <div class='sidebar col-md-4'>
  </div>
</div>
